@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.delta-tag {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 5px;
}
